<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//www.mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.corewell.corewellmanage.dao.NodeDao">
    <resultMap id="NodeMap" type="com.corewell.corewellmanage.domain.Node">
        <id property="id" column="id"/>
        <result property="time" column="time"/>
        <result property="notes" column="notes"/>
        <result property="projectId" column="project_id"/>
        <result property="creatorId" column="creator_id"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <select id="getNode" parameterType="NodeParam" resultType="Node">
        select id, time, notes, project_id as projectId,creator_id as creatorId,
        create_time as createTime
        from node
        where 1=1
        <if test="id!=null and id!=''">
            and id=#{id}
        </if>
        order by create_time desc
    </select>

    <insert id="addNode" parameterType="NodeAddParam">
        insert into node
        <trim prefix="(" suffix=")" suffixOverrides=",">

            <if test="time!=null and time!=''">
                time,
            </if>
            <if test="notes!=null and notes!=''">
                notes,
            </if>
            <if test="projectId!=null and projectId!=''">
                project_id,
            </if>
            <if test="createTime!=null">
                create_time,
            </if>
            <if test="creatorId!=null and creatorId!=''">
                creator_id
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">

            <if test="time!=null and time!=''">
                #{time},
            </if>
            <if test="notes!=null and notes!=''">
                #{notes},
            </if>
            <if test="projectId!=null and projectId!=''">
                #{projectId},
            </if>
            <if test="createTime!=null">
                #{createTime},
            </if>
            <if test="creatorId!=null and creatorId!=''">
                #{creatorId}
            </if>
        </trim>
    </insert>


    <update id="updateNode" parameterType="NodeUpdateParam">
        update node
        <set>
            <if test="time!=null and time!=''">
                time = #{time},
            </if>

            <if test="notes!=null and notes!=''">
                notes =#{notes},
            </if>
            <if test="projectId!=null and projectId!=''">
                project_id =#{projectId},
            </if>
            <if test="createTime!=null">
                create_time =#{createTime},
            </if>
            <if test="creatorId!=null and creatorId!=''">
                creator_id =#{creatorId}
            </if>

        </set>
        where id=#{id}
    </update>

    <update id="deleteNode" parameterType="Long">
        delete
        from node
        where id = #{id}
    </update>
</mapper>

