<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//www.mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.corewell.corewellmanage.dao.ProjectDao">
    <resultMap id="ProjectMap" type="com.corewell.corewellmanage.domain.Project">
        <id property="id" column="id"/>
        <result property="number" column="number"/>
        <result property="name" column="name"/>
        <result property="creator_id" column="creatorId"/>
        <result property="address" column="address"/>
        <result property="start_time" column="startTime"/>
        <result property="end_time" column="endTime"/>
    </resultMap>

    <select id="getProject" parameterType="ProjectParam" resultType="Project">
        select id, name,number, address, creator_id as creatorId,start_time as startTime,
        end_time as endTime
        from project
        where 1=1
        <if test="id!=null and id!=''">
            and id=#{id}
        </if>
        <if test="name!=null and name!=''">
            and name like CONCAT('%' , #{name ,jdbcType=VARCHAR},'%')
        </if>
    </select>

    <insert id="addProject" parameterType="ProjectAddParam">
        insert into project
        <trim prefix="(" suffix=")" suffixOverrides=",">

            <if test="name!=null and name!=''">
                name,
            </if>
            <if test="number!=null and number!=''">
                number,
            </if>
            <if test="address!=null and address!=''">
                address,
            </if>
            <if test="startTime!=null">
                start_time,
            </if>
            <if test="endTime!=null">
                end_time,
            </if>
            <if test="creatorId!=null and creatorId!=''">
                creator_id
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">

            <if test="name!=null and name!=''">
                #{name},
            </if>
            <if test="number!=null and number!=''">
                #{number},
            </if>
            <if test="address!=null and address!=''">
                #{address},
            </if>
            <if test="startTime!=null and startTime!=''">
                #{startTime},
            </if>
            <if test="endTime!=null">
                #{endTime},
            </if>
            <if test="creatorId!=null and creatorId!=''">
                #{creatorId}
            </if>
        </trim>
    </insert>


    <update id="updateProject" parameterType="ProjectUpdateParam">
        update project
        <set>
            <if test="name!=null and name!=''">
                name = #{name},
            </if>

            <if test="number!=null and number!=''">
                number =#{number},
            </if>
            <if test="address!=null and address!=''">
                address =#{address},
            </if>
            <if test="startTime!=null">
                start_time =#{startTime},
            </if>
            <if test="endTime!=null">
                end_time =#{endTime},
            </if>
            <if test="creatorId!=null and creatorId!=''">
                creator_id =#{creatorId}
            </if>

        </set>
        where id=#{id}
    </update>

    <update id="deleteProject" parameterType="Long">
        delete
        from project
        where id = #{id}
    </update>
</mapper>

