<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//www.mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.corewell.corewellmanage.dao.WarehouseDao">
    <resultMap id="WarehouseMap" type="com.corewell.corewellmanage.domain.Warehouse">
        <id property="id" column="id"/>
     
        <result property="name" column="name"/>
        <result property="address" column="address"/>
        <result property="managerId" column="manager_id"/>
        <result property="phone" column="phone"/>
        <result property="notes" column="notes"/>
        <result property="creatorId" column="creator_id"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <select id="getWarehouse" parameterType="WarehouseParam" resultType="Warehouse">
        select id, name, address, manager_id as managerId,phone, notes,creator_id as creatorId, create_time as createTime
        from warehouse
        where 1=1
        <if test="id!=null and id!=''">
            and id=#{id}
        </if>
        <if test="name!=null and name!=''">
            and name like CONCAT('%' , #{name ,jdbcType=VARCHAR},'%')
        </if>
    </select>

    <select id="selectWarehouse" parameterType="WarehousePageParam" resultType="WarehouseDTO">
        select w.id as id, w.name as name, w.address as address, a.name as manager,w.phone as phone,w.notes as notes,
               w.creator_id as creatorId, w.create_time as createTime
        from warehouse w left join account a on w.manager_id = a.id
        where 1=1
        <if test="id!=null and id!=''">
            and w.id=#{id}
        </if>
        <if test="name!=null and name!=''">
            and w.name like CONCAT('%' , #{name ,jdbcType=VARCHAR},'%')
        </if>
    </select>

    <select id="downloadWarehouse" parameterType="WarehouseParam" resultType="WarehouseTemplate">
        select w.name as name, w.address as address, a.name as manager,w.phone as phone,w.notes as notes
        from warehouse w left join account a on w.manager_id = a.id
        where 1=1
        <if test="id!=null and id!=''">
            and w.id=#{id}
        </if>
        <if test="name!=null and name!=''">
            and w.name like CONCAT('%' , #{name ,jdbcType=VARCHAR},'%')
        </if>
    </select>

    <insert id="addWarehouse" parameterType="WarehouseAddParam">
        insert into warehouse
        <trim prefix="(" suffix=")" suffixOverrides=",">

            <if test="name!=null and name!=''">
                name,
            </if>
            <if test="address!=null and address!=''">
                address,
            </if>
            <if test="managerId!=null and managerId!=''">
                manager_id,
            </if>
            <if test="phone!=null and phone!=''">
                phone,
            </if>
            <if test="notes!=null and notes!=''">
                notes,
            </if>
            <if test="createTime!=null">
                create_time,
            </if>
            <if test="creatorId!=null and creatorId!=''">
                creator_id
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">

            <if test="name!=null and name!=''">
                #{name},
            </if>
            <if test="address!=null and address!=''">
                #{address},
            </if>
            <if test="managerId!=null and managerId!=''">
                #{managerId},
            </if>
            <if test="phone!=null and phone!=''">
                #{phone},
            </if>
            <if test="notes!=null and notes!=''">
                #{notes},
            </if>
            <if test="createTime!=null">
                #{createTime},
            </if>
            <if test="creatorId!=null and creatorId!=''">
                #{creatorId}
            </if>
        </trim>
    </insert>


    <update id="updateWarehouse" parameterType="WarehouseUpdateParam">
        update warehouse
        <set>

            <if test="name!=null and name!=''">
                name=#{name},
            </if>
            <if test="address!=null and address!=''">
                address=#{address},
            </if>
            <if test="managerId!=null and managerId!=''">
                manager_id =#{managerId},
            </if>
            <if test="phone!=null and phone!=''">
                phone =#{phone},
            </if>
            <if test="notes!=null and notes!=''">
                notes =#{notes},
            </if>

        </set>
        where id=#{id}
    </update>

    <update id="deleteWarehouse" parameterType="Long">
        delete
        from warehouse
        where id = #{id}
    </update>
</mapper>

